doctype html
html
  head
    title New Form Response
  body
    h1 You have a new response for the form "#{formTitle}"
    p Respondent Email: #{responderEmail}
    p Click here to view the response: 
      a(href=responseLink) Response Link
