doctype html
html
  head
    title Form Submission Confirmation
  body
    h1 Thank you for your submission!
    p Your response to our form has been received.
    p You can view your submitted response here: 
      a(href=responseLink) Response Link
